<!-- views/index.ejs -->
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>EHPAD Harvester</title>
    <meta descr="pour récupérer des listing d'EHPAD">
   
</head>
<body>

	<form>
    	Code Postal ou Département :
    	<input type="text" name="postal" value="<%=data.postal%>"></input>
    	<input type="submit" value="JSON" formaction="/json">
        <input type="submit" value="CSV" formaction="/csv">
    </form>


    <div id="response">
    	<%= data.error%> </br>
        nb pages à moissoner : <%= data.nbpages %> </br>
        nb ehpad : <%=data.json.etablissements.length%> </br>
    	status code : <%= data.statuscode%> </br>
        data : <%= JSON.stringify(data.json)%>
    </div>

</body>
</html>